/* -- footer -- */
html {
    position:relative;
    min-height:100%;
  }
  body {
    margin-bottom:60px;
    font-family:'Khand', sans-serif;
  }
  .footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
  }
  footer p {
    margin:20px 0;
  }
  .footer > .container {
    padding-right:15px;
    padding-left:15px;
  }
  /* -- -- */
  h3 {
    display:inline-block;
    font-size:32px;
    line-height:36px;
    position:relative;
    margin-top:28px;
    margin-bottom:15px;
  }
  h3:before{
    left:-40px;
    height:0;
    height:1px;
  }
  h3:before, h3:after {
    content:"";
    position:absolute;
    bottom:18px;
    height:1px;
    width:40px;
    margin:0 -15px;
    background-color:#533834;
  }
  h3:after{
    right:-40px;
  }
  h5 {
    font-size:16px;
    line-height:22px;
    margin:0 0 15px;
    font-weight:400;
  }
  .item {
    position:relative;
    overflow:hidden;
    margin-bottom:20px;
  }
  .item h4, .item p {
    display:block;
    clear:both;
    color:#160f0e;
  }
  .item p {
    clear:both;
    font-weight: 500;
    color:#3f3832;
    margin-left:5px;
  }
  .item span:first-of-type {
    background-image:linear-gradient(to right,rgba(56,47,47,.5) 33%,rgba(0,0,0,0) 0%);
    background-position:bottom;
    background-size:3px 1px;
    background-repeat:repeat-x;
    height:1px;
    width:100%;
    position:absolute;
    top:22px;
  }
  /* Dots in IE */
  @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
    .dots {
      background:transparent url('/img/dot.gif') repeat-x bottom left;
    }
  }
  .badge {
    display:inline-block;
    padding:0 10px;
    background:#d2c82a;
    font-size:12px;
    font-weight:300;
    line-height:26px;
    color:#fff;
    text-align:center;
    vertical-align:middle;
    text-transform:uppercase;
    border:1px solid rgba(0,0,0,.05);
    letter-spacing:1px;
    border-radius:3px;
    margin:-2px 5px 0 0;
  }
  .note {
    padding:0 5px 0 7px;
    min-width:23px;
    background:rgba(0,0,0,0);
    border:1px solid #382f2f;
    color:#382f2f;
    box-sizing:border-box;
    border-radius:12px;
    line-height:21px;
  }
  .veggie {
    color:#82b440;
    border-color:#82b440;
  }
  .spicy {
    color:#ec4e00;
    border-color:#ec4e00;
  }
  .item span:nth-of-type(2n) {
    position:absolute;
    font-size:22px;
    font-weight:400;
    right:0;
    padding-left:8px;
    z-index:0;
  }
  .item h4 {
    display:inline-block;
    padding-right:8px;
    font-size:1.25rem;
    max-width:80%;
    text-transform:capitalize;
    margin-bottom:4px;
    position:relative;
  }

  /* DarkMode */
  .darkmode--activated p, .darkmode--activated li, .darkmode--activated span,.darkmode--activated h4, .darkmode--activated h3, .darkmode--activated h5, .darkmode--activated h1, .darkmode--activated .modal-body {
    color: rgb(197, 197, 197);
  }
  .darkmode--activated h3::before, .darkmode--activated h3::after{
    background-color: #fff;
  }
  .darkmode--activated .modal-body,.darkmode--activated .modal-header{
    background-color: rgb(24, 24, 24);
    border: none!important;
  }
  .button {
    isolation: isolate;
  }
  
  .darkmode--activated .logo {
    mix-blend-mode: difference;
  }
  .darkmode-toggle{
    z-index: 1000;
  }
  @media screen and (max-width: 600px) {
   h3::before, h3::after{
     display: none;
   }
  }
  .kc_fab_main_btn{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;  
    bottom: 96px;
    right: 32px;
    background-color:#5236f4;
    width:3rem;
    max-width: 3rem!important;
    max-height: 3rem!important;
    height:3rem;
    border-radius:100%;
    background:#3669f4;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .kc_fab_main_btn_goback{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;  
    bottom: 160px;
    right: 32px;
    background-color:#ff6c2b;
    width:3rem;
    height:3rem;
    border-radius:100%;
    background:#ff6c2b;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .kc_fab_main_btn_goback:hover{
    text-decoration: none;
    color: white;
  }