
 *{
     margin: 0;
 }
 .hero{
    background-color: grey;
 }
 .content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./img/fronteEbs.jpg') center no-repeat;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 60px;  
    font-weight: 900;

}
.titoloneIniziale{
    font-weight: 900;
}
#description{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 18px;  
}
#azienda{
    height: 100vh;

}
.loStaff{
        font-family: "Montserrat",sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: #FF6C2B;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        position: relative!important;
        font-size: 50px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        transition: 0.5s;
}