body,
html,
.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #404040;
}
/*Now the styles*/
* {
	margin: 0; 
	padding: 0;
}

.accordian {
	overflow: hidden;
  width: 100%!important;

}

.accordian li {
	position: relative;
	display: block;
	width: 33.33%;
	float: left;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  background-color: white;
}

.accordian ul:hover li {width: 15%;}
.accordian ul:hover li .title{font-size: 25px;}
.accordian ul li:hover {width: 70%; font-size: 50px;}
.accordian ul li:hover .title{width: 100%; font-size: 50px; text-align: center;}



.accordian li img {
  display: block;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.title{
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #FF6C2B;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  font-size: 50px;
  text-transform: uppercase;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}
.wrapper-inner {
  margin-top: 5rem;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: .2rem;
  row-gap: 5rem!important;
}
.box-wrapper {
  top: 50%;
  left: 50%;
  z-index: 1;
  margin: auto;

}
.box {
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  width: 316px;
  background: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 65px;
}
.box-inner {
  padding-top: 15px!important;
  padding-left: 15px;
  padding-right: 15px;
}
.avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  top: -75px;
  margin-left: -75px;
  left: 50%;
  position: absolute;
}
.avatar img {
  width: 150px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}
.name {
  font-size: 38px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
  color: #3a3a3a;
}
.occupation {
  font-size: 18px;
  font-style: italic;
  color: #707070;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 15px;  border-bottom: 1px solid #f2f2f2;

}
.description {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.location .fa {
  color: #c6c6c6;
  margin-right: 4px;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 1px;
  display: table;
  margin: 0 auto;
}
.social-list > li {
  float: left;
  display: block;
}
.social-list > li > a {
  display: block;
  width: 45px;
  height: 55px;
  line-height: 55px;
  font-size: 28px;
  text-decoration: none;
  color: #b3b3b3;
  border-right: 1px solid #ededed;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.social-list > li > a:hover {
  background: #c30eb8;
  color: #fff;
}
.social-list > li > a:hover.fa-facebook {
  background: #3b5998;
}
.social-list > li > a:hover.fa-dribbble {
  background: #c32361;
}
.social-list > li > a:hover.fa-twitter {
  background: #55acee;
}
.social-list > li > a:hover.fa-pinterest {
  background: #cd2129;
}
.social-list > li > a:hover.fa-linkedin {
  background: #1683bc;
}
.social-list > li:last-child > a {
  border-right: none;
}
