@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic");
.testoServizio {
    float: right;
    text-align: right;
}

.serviceContainerHeight {
    height: 85vh;
}

@media only screen and (max-width: 600px) {
    .testoServizio {
        text-align: justify!important;
        margin: 0px 1rem;
    }
    .servicesTitle {
        font-size: 32px!important;
    }
    body {
        overflow: visible!important;
    }
    .servicesBody {
        overflow: visible!important;
    }
    .serviceContainerHeight {
        height: 65vh;
    }
}

#maxiSchermo {
    display: none;
    margin-top: 80vh!important;
    box-shadow: 0px -12px 29px 1px rgba(0, 0, 0, 0.75);
}

#medioSchermo {
    display: none;
    margin-top: 80vh!important;
    z-index: 101;
    box-shadow: 0px -12px 29px 1px rgba(0, 0, 0, 0.75);
}

#miniSchermo {
    display: block;
    margin-top: 80vh!important;
    z-index: 101;
    box-shadow: 0px -12px 29px 1px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 600px) {
    #maxiSchermo {
        display: none;
    }
    #medioSchermo {
        display: block;
    }
    #miniSchermo {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    #maxiSchermo {
        display: block;
    }
    #medioSchermo {
        display: none!;
    }
    #miniSchermo {
        display: none!;
    }
}

#PreventivazioneButton:hover,
#RealizzazioneButton:hover,
#ContabilizzazioneButton:hover,
#CallButton:hover {
    cursor: pointer;
    stroke: #ff6c2b;
    stroke-width: 2;
}

#Prev_MD:hover,
#Real_MD:hover,
#Cont_MD:hover,
#Serviz_MD:hover {
    cursor: pointer;
    stroke: #ff6c2b;
    stroke-width: 1;
}

#PREV_SM:hover,
#REAL_SM:hover,
#CONT_SM:hover,
#SERVIZ_SM:hover {
    cursor: pointer;
    stroke: #ff6c2b;
    stroke-width: 1;
}

#PreventivazioneButton,
#RealizzazioneButton,
#ContabilizzazioneButton,
#CallButton {
    transition: all 1s;
}

#no-transition {
    transform: none!important;
}

video {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#servizi {
    margin-top: 100vh;
}

.title-servizi {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cera Pro', sans-serif;
    position: absolute;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    width: 100vw;
    height: 100vh;
    line-height: 70px;
}

.smaller-title {
    font-family: 'Cera Pro', sans-serif;
    text-align: center;
    font-weight: 700!important;
    margin-top: 5rem;
    width: 100vw!important;
}

#Icon_simple-mediafire:hover {
    fill: yellow;
}

#bgvid {
    height: 100vh;
}

.services-hero {
    height: 80vh;
}

.revolver {
    position: relative;
    margin-bottom: 150px;
}

#sun {
    background-image: url("../img/HandEbsArancio.png");
    border-radius: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -150px;
    margin-left: -150px;
    left: 50%;
    height: 300px;
    position: absolute;
    top: 50%;
    width: 300px;
}

#earth-orbit {
    border: 4px solid #ff6c2b;
    border-radius: 50%;
    left: 50%;
    height: 650px;
    margin-top: -330px;
    margin-left: -330px;
    position: absolute;
    top: 50%;
    width: 650px;
    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

/* #earth-orbit:hover {
    animation-play-state: paused;
} */

#moon-orbit {
    border-radius: 50%;
    left: 50%;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    position: absolute;
    top: 50%;
    width: 500px;
    transform: rotate(360deg);
    transform-origin: 50% 100%;
}

#earth:hover,
#earth-2:hover,
#earth-3:hover,
#earth-4:hover {
    /* animation-play-state: paused; */
}

#earth,
#earth-2,
#earth-3,
#earth-4 {
    cursor: pointer;
}

#earth {
    background-image: url("../img/servizi/First.png");
    animation: 10s linear 0s infinite normal none running spin-left;
    border-radius: 128px;
    margin-left: -25px;
    margin-top: -25px;
    left: 42%;
    position: absolute;
    top: -7%;
    width: 150px;
    background-size: contain;
    height: 150px;
}

#earth-2 {
    background-image: url("../img/servizi/Second.png");
    animation: spin-left 10s linear infinite;
    border-radius: 128px;
    margin-left: -25px;
    margin-top: -25px;
    height: 150px;
    left: 42%;
    position: absolute;
    background-size: contain;
    top: 92%;
    width: 150px;
}

#earth-3 {
    background-image: url("../img/servizi/Third.png");
    animation: spin-left 10s linear infinite;
    border-radius: 128px;
    margin-left: -25px;
    margin-top: -25px;
    height: 150px;
    left: -7%;
    position: absolute;
    background-size: contain;
    top: 42%;
    width: 150px;
}

#earth-4 {
    background-image: url("../img/servizi/Fourth.png");
    animation: spin-left 10s linear infinite;
    border-radius: 128px;
    margin-left: -25px;
    margin-top: -25px;
    height: 150px;
    left: 92%;
    position: absolute;
    background-size: contain;

    top: 42%;
    width: 150px;
}

.moon-holder {
    position: absolute;
    left: 50%;
    top: 0;
    width: 128px;
    height: 128px;
    margin: -25px 0 0 -25px;
    -webkit-animation: spin-right 5s linear infinite;
    -moz-animation: spin-right 5s linear infinite;
    -ms-animation: spin-right 5s linear infinite;
    -o-animation: spin-right 5s linear infinite;
    animation: spin-right 5s linear infinite;
}

.moon-holder-2 {
    position: absolute;
    left: 50%;
    top: 0;
    width: 128px;
    height: 128px;
    margin: -25px 0 0 -25px;
    -webkit-animation: spin-right 5s linear infinite;
    -moz-animation: spin-right 5s linear infinite;
    -ms-animation: spin-right 5s linear infinite;
    -o-animation: spin-right 5s linear infinite;
    animation: spin-right 5s linear infinite;
}

#moon {
    background-color: #b2b2b2;
    border-radius: 50px;
    margin-left: -25px;
    margin-top: -25px;
    height: 16px;
    left: 43%;
    position: absolute;
    top: 0%;
    width: 16px;
    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin-right {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-left {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spin-left {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-keyframes spin-left {
    100% {
        transform: rotate(-360deg);
    }
}

.explanation {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.srv-title {
    font-size: 45px;
    font-weight: 700;
}

.terminal {
    font-family: "PT Mono", monospace;
    font-size: 1em;
    line-height: 1.2em;
    width: 70vw;
    min-height: 300px;
    margin-top: 25px;
    background-color: #07191f;
    color: #b4c4c6;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 30px 1px rgba(0, 0, 0, 0.2);
}

.terminal::before {
    border-radius: 7px 7px 0 0;
    position: absolute;
    content: attr(data-content);
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    padding: 0 80px;
    white-space: nowrap;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #4c3436;
    font-size: 1em;
    background: linear-gradient(0deg, #d8d8d8, #ececec);
    top: -25px;
    left: 0;
    font-family: "PT Sans", sans-serif;
}

.terminal::after {
    content: "";
    position: absolute;
    top: -18px;
    left: 10px;
    width: 12px;
    height: 12px;
    background: #f95c5b;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #da3d42, 22px 0 0 0 #fabe3b, 22px 0 0 1px #ecb03e, 44px 0 0 0 #38cd46, 44px 0 0 1px #2eae32;
}

#cmd {
    font-weight: 100!important;
    font-family: "PT Mono", monospace;
    font-size: 16px!important;
    color: #bebebe!important;
    margin: 0;
    margin-bottom: 1rem;
}

.terminal p::before {
    color: #ff6c2b;
    content: "~$ ";
}

.upper-hero {
    position: absolute;
}

#hero-container {
    height: 125vh;
}
.serviceRow{
    height: 30vh;
}
.serviceText{
   text-align: right;
}
.serviceRow{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 32px;
}
.serviceRowLeft{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 32px;
}
.serviceTextLeft{
    text-align: left;
 }
 .serviceTextLeft h2, .serviceText h2{
    font-weight: 700;
    color: #ff6c2b!important;
    width: auto!important;
 }
.btn-primary{
    border-radius: 0px!important;
    background-color: #ff6c2b!important;
    border: none!important;
}
.btn-primary:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        transition: 1s ease-in-out;
}
@media only screen and (max-width: 768px) {
    .serviceRow{
        height: auto;
        padding: 0!important;
        margin: 20px 32px;
    }
    #img_1, #img_2, #img_3, #img_4{
        display: none;
    }
    .serviceTextLeft, .serviceText{
        text-align: justify;

    }
    .serviceText > h2{
        text-align: left!important;
    }
    #hero{
        display: none!important;
    }
}



.panel {
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
    margin-bottom: 5rem;
  }
  
  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
    list-style-type: none;
    padding: 0;
  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  .pricing-price {
    color: #ff6c2b;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .pricing-button {
    border: 1px solid #ff6c2b;
    border-radius: 10px;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  .pricing-button.is-featured {
    background-color: #ff6c2b;
    color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active,
  .pricing-button-other:hover {
    background-color: #ff6c2b;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
    
  .pricing-button-other {
    border: 1px solid #ff6c2b;
    border-radius: 10px;
    background-color: #282828;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }