.testoServizio {
    float: right;
    text-align: right;
}

.serviceContainerHeight {
    height: 85vh;
}

@media only screen and (max-width: 600px) {
    .testoServizio {
        text-align: justify!important;
        margin: 0px 1rem;
    }
    .servicesTitle {
        font-size: 32px!important;
    }
    body {
        overflow: visible!important;
    }
    .servicesBody {
        overflow: visible!important;
    }
    .serviceContainerHeight {
        height: 65vh;
    }
}

#no-transition {
    transform: none!important;
}

video {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#servizi {
    margin-top: 100vh;
}

.title-servizi {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cera Pro', sans-serif;
    position: absolute;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    width: 100vw;
    height: 100vh;
    line-height: 70px;
}

#Icon_simple-mediafire:hover {
    fill: yellow;
}